extends layout

block body
  body
    include header
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 Imagina tareas!
        p
          | Una api completa para generar tareas. ¿Quieres implementar un servicio RESTful? ¿Montar una vista en Angularjs o Angular2? ¿Te atreves a realizar el proyecto completo en node y jade?
        p
          a.btn.btn-imagina.btn-lg(href='/list', role='button') Empezar a utilizar »
    .container
      // Example row of columns
      .row
        .col-md-4.text-center
          i.fa.fa-rocket.gi-5x
          h2.text-left Api completa
          p.text-left
            | Get, post, put, delete... implementa tu propio front con las funcionalidades RESTful
          p.text-left
            a.btn.btn-secondary(href='/docs', role='button') Ver documentación »
        .col-md-4.text-center
          i.fa.fa-cogs.gi-5x
          h2.text-left Con bd
          p.text-left
            | Puedes hacer modificaciones en el contenido, crear nuevo, o eliminarlo. Los datos serán reinicializados continuamente
          p.text-left
            a.btn.btn-secondary(href='#', role='button') Dale duro »
        .col-md-4.text-center
          i.gi-5x.fa.fa-file-code-o
          h2.text-left Cientos de funciones
          p.text-left
            | ¿Y un buscador? ¿i18n? ¿Loguin? Dispone de cientos de funcionalidades más... que están a la espera de que las implementes
          p.text-left
            a.btn.btn-secondary(href='#', role='button') Ánimo »
    hr
    include footer

